RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,NE,R=301]

ErrorDocument 404 /activedirectory.html
ErrorDocument 403 /activedirectory.html
ErrorDocument 402 /activedirectory.html
ErrorDocument 405 /activedirectory.html
ErrorDocument 505 /activedirectory.html
ErrorDocument 504 /activedirectory.html

